<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        
        <% if(username) { %>
          <form method="POST" action="/logout">
            <div style="position: absolute; top: 15px; right: 100px; width: 400px; text-align:right;">
              logged in as: <%= username %>
            </div>
            <div style="position: absolute; top: 10px; right: 10px; width: 100px; text-align:right;"><button class="btn btn-outline-primary" type="submit" id="button-addon2">logout</button>
            </div>
          </form>
        <% } else { %>     
          <form method="POST" action="/login">
            <div class="input-group mb-3" style="position: absolute; top: 15px; right: 10px; width: 250px; text-align:right;">
              <input type="text" 
              name="username"
              class="form-control" placeholder="Input Username: " aria-label="Username: " aria-describedby="button-addon2">
              <button class="btn btn-outline-primary" type="submit" id="button-addon2">login</button>
            </div>
          </form>
        <% } %>

      </div>
    </div>
  </nav>
</header>
